// variables
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
$fontweight-light: 400;
$fontweight-normal: 700;

$colour-white: #fff;
$colour-black: #333;
$colour-black-light: #666;
$colour-black-lighter: #999;

$spacing: 20px; //

$media-xs: 18.750em; // 300px
$media-sm: 31.250em; // 500px
$media-md: 43.750em; // 700px
$media-lg: 53.125em; // 850px
$media-xl: 80em; // 1280px


// base
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: 'PT Sans', sans-serif;
  color: $colour-black;
}

body {

}


// frame
.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  @media screen and (max-width: $media-lg) {
    width: 100%;
    padding-left: $spacing;
    padding-right: $spacing;
    //margin-left: $spacing;
    //margin-right: $spacing;
  }

}

.container--body {
  margin-bottom: $spacing*3;
}

.header {

}

.wrapper--nav {
  margin-top: $spacing;
  border-top: solid 1px $colour-black-lighter;
  border-bottom: solid 1px $colour-black-lighter;
}


// nav
.nav-main {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: $spacing;
}

.nav-main__item {
  display: block;
  float: left;
  padding: 0;
  display: block;
}

.nav-main__link {
  text-decoration: none;
  display: block;
  color: $colour-black;
  border-radius: $spacing/2;
  padding: $spacing/4;
  margin-left: 0;
  margin: $spacing/4;
  transition: background-color 0.5s, color 0.2s;

  &:hover {
    background-color: $colour-black-light;
    color: $colour-white;
  }
}


// text
h1, h2, h3, h4, h5, h6 {
  font-weight: $fontweight-normal;
  margin-top: $spacing;
  margin-bottom: 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.2em;
  font-weight: $fontweight-light
}

h3 {
  font-size: 1em;
}

h4 {
  margin-top: 0;
}

.header__strap {
  padding-left: $spacing;
}

.home-h3 {
  border-bottom: solid 1px $colour-black-lighter;
  padding-bottom: $spacing;
  margin-bottom: $spacing;
  font-size: 1.2em;
}

.page-h3 {
  border-bottom: solid 1px $colour-black-lighter;
  padding-bottom: $spacing;
  margin-bottom: $spacing;
  font-size: 1.2em;
}

a {
  color: $colour-black;
}

p {
  font-weight: $fontweight-light;
  display: block;
  padding-bottom: $spacing;
  margin: 0;
}

.date {
  font-style: italic;
}


// home
.hero {
  position: relative;
  padding-top: $spacing*3;
  padding-bottom: $spacing*3;
  overflow: hidden;
  height: 300px;

  .hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
  }

  @media screen and (max-width: $media-md) {
    height: auto;
  }

  @media screen and (max-width: $media-sm) {
    .hero__image {
      width: 240%;
    }
  }

  @media screen and (max-width: $media-xs) {
    .hero__image {
      width: 300%;
    }
  }
}

.hero .hero__text {
  color: $colour-white;
  font-size: 1.375em;
  line-height: 1.636364em;
  position: relative;

  p {
    padding: 0;
  }
  a {
    color: $colour-white;
  }
}


// post
.post-image {
  max-width: 100%;
  height: auto;
}

iframe {

  @media screen and (max-width: $media-sm) {
    width: 100%;
  }
}

.left, .right {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.icon-image {
  float: left;
  display: block;
  margin-right: $spacing/2;
  border: solid 1px $colour-black;
  height: 50px;
  width: 50px;
  overflow: hidden;

  img {
    display: block;
    height: 50px;
    width: auto;
  }
}