{% for header in headers %}
    <div class="container header">
        <h1 class="header__title">{{ header.title_main }}</h1>
        <h2 class="header__strap">{{ header.title_strap }}</h2>
    </div>
{% endfor %}