{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <div class="hero">
        {% image page.hero_image original class="hero__image" %}
        <div class="container hero__text">
            {{ page.body|richtext }}
        </div>
    </div>

    <div class="container container--body pure-g">
        <h3 class="home-h3 pure-u-1">Most recent articles</h3>

        {% for blog in page.blogs %}
            <div class="pure-u-1">
                {% if blog.specific.icon_image %}
                    <a href="{% pageurl blog %}" class="icon-image">{% image blog.specific.icon_image original  %}</a>
                {% endif %}
                <h4><a href="{% pageurl blog %}">{{ blog.title }}</a></h4>
                <p><span class="date">{{ blog.specific.date }}</span>: {{ blog.specific.intro }}</p>
            </div>
        {% endfor %}
    </div>



{% endblock %}
