{% load static wagtailuserbar %}

{% load wagtailcore_tags rover_tags %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}O.U Rover Team | {{ self.seo_title }}{% else %}O.U Rover Team | {{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pure.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% headers %}

        <div class="wrapper--nav">
            <ul class="container nav-main">
                <li class="nav-main__item"><a href="/" class="nav-main__link">Home</a></li>
                <li class="nav-main__item"><a href="/blog" class="nav-main__link">Blog</a></li>
                <li class="nav-main__item"><a href="/contact" class="nav-main__link">Contact</a></li>
            </ul>
        </div>

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/roversite.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
