{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="hero">
        {% image page.hero_image original class="hero__image" %}
        <div class="container hero__text">
            {{ page.intro|richtext }}
        </div>
    </div>

    <div class="container container--body pure-g">
        <h3 class="home-h3 pure-u-1">Blog articles</h3>

        {% for post in blogpages %}
            <div class="pure-u-1">

                {% if post.specific.icon_image %}
                    <a href="{% pageurl post %}" class="icon-image">{% image post.specific.icon_image original %}</a>
                {% endif %}

                <h4><a href="{% pageurl post %}">{{ post.title }}</a></h4>
                <p><span class="date">{{ post.specific.date }}</span>: {{ post.specific.intro }}</p>
            </div>
        {% endfor %}

    </div>

{% endblock %}
