{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    {% if page.main_image %}
        <div class="container">
            {% image page.main_image original class="post-image" %}
        </div>
    {% endif %}

    <div class="container container--body pure-g">

        <h3 class="page-h3 pure-u-1">{{ page.title }}</h3>

        <div class="pure-u-1">

            <p class="date">{{ page.date }}</p>

            <div class="intro">{{ page.intro }}</div>

            {{ page.body|richtext }}

            <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

        </div>

    </div>

{% endblock %}
