{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block content %}

    <div class="hero">
        {% image page.hero_image original class="hero__image" %}
    </div>

    <div class="container container--body pure-g">
        <h3 class="home-h3 pure-u-1">{{ page.title }}</h3>
        <div class="pure-u-1">
            {{ page.intro|richtext }}
        </div>
    </div>

{% endblock %}