@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i");
html, button, input, select, textarea, .pure-g [class*="pure-u"] {
  font-family: 'PT Sans', sans-serif;
  color: #333; }

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }
  @media screen and (max-width: 53.125em) {
    .container {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px; } }

.container--body {
  margin-bottom: 60px; }

.wrapper--nav {
  margin-top: 20px;
  border-top: solid 1px #999;
  border-bottom: solid 1px #999; }

.nav-main {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px; }

.nav-main__item {
  display: block;
  float: left;
  padding: 0;
  display: block; }

.nav-main__link {
  text-decoration: none;
  display: block;
  color: #333;
  border-radius: 10px;
  padding: 5px;
  margin-left: 0;
  margin: 5px;
  transition: background-color 0.5s, color 0.2s; }
  .nav-main__link:hover {
    background-color: #666;
    color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.2em;
  font-weight: 400; }

h3 {
  font-size: 1em; }

h4 {
  margin-top: 0; }

.header__strap {
  padding-left: 20px; }

.home-h3 {
  border-bottom: solid 1px #999;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 1.2em; }

.page-h3 {
  border-bottom: solid 1px #999;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 1.2em; }

a {
  color: #333; }

p {
  font-weight: 400;
  display: block;
  padding-bottom: 20px;
  margin: 0; }

.date {
  font-style: italic; }

.hero {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
  height: 300px; }
  .hero .hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block; }
  @media screen and (max-width: 43.75em) {
    .hero {
      height: auto; } }
  @media screen and (max-width: 31.25em) {
    .hero .hero__image {
      width: 240%; } }
  @media screen and (max-width: 18.75em) {
    .hero .hero__image {
      width: 300%; } }

.hero .hero__text {
  color: #fff;
  font-size: 1.375em;
  line-height: 1.636364em;
  position: relative; }
  .hero .hero__text p {
    padding: 0; }
  .hero .hero__text a {
    color: #fff; }

.post-image {
  max-width: 100%;
  height: auto; }

@media screen and (max-width: 31.25em) {
  iframe {
    width: 100%; } }

.left, .right {
  display: block; }

.left {
  float: left; }

.right {
  float: right; }

.icon-image {
  float: left;
  display: block;
  margin-right: 10px;
  border: solid 1px #333;
  height: 50px;
  width: 50px;
  overflow: hidden; }
  .icon-image img {
    display: block;
    height: 50px;
    width: auto; }
